*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --azulescuro: #0B3D80;
    --azulclaro: #4285F3;
    --azulzinho: #79BFFF;
    --laranja: #F68F06;
    --laranjamedio: #FFC546;
    --laranjaclaro: #FFF1D6;
    --amarelo-claro: #FFF494;
    --branco: #fff;
}

@font-face {
    font-family: Hanken Grotesk; /* Nome que você usará para aplicar a fonte */
    src: url('../fontes/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf'); /* Caminho e formato da fonte principal */
}

@font-face {
    font-family: Baron Neue;
    src: url('../fontes/baron_neue/Baron\ Neue\ Black.otf');
}

@font-face {
    font-family: Circe;
    src: url('../fontes/circe-cufonfonts/CRC55.otf');
}

@font-face {
    font-family: Lemon Milk;
    src: url('../fontes/lemon_milk/LEMONMILK-Medium.otf');
}

header {
    background-color: var(--laranja);
    max-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    position: fixed;
    top: 0;
    width: 1440px;
}

#navegacao nav {
    background-color: var(--laranjaclaro);
    padding: 8px 45px;
    border-radius: 25px;
}

#navegacao a {
    font-size: 16px;
    text-decoration: none;
    margin-inline: 1.2rem;
    color: var(--azulescuro);
    font-family: 'Baron Neue';
}

#icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#navegacao nav > a:hover{
    color: var(--laranja);
    transition: 0.5s;
}

body {
    background-color: var(--azulescuro);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk';
    font-size: 25px;
    font-weight: 800;
}


main img {
    margin-right: 1200px;
    width: 200px;
    margin-top: 100px;
}

h1 {
    margin-top: -130px;
    color: var(--laranja);
    margin-bottom: 50px;
    font-size: 58px;
}

main nav {
    gap: 15px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#conteudos {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--azulclaro);
    text-align: center;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 50px;
}

#conteudos a {
    background-color: var(--branco);
    padding: 10px;
    height: 100px;
    border-radius: 8px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.primeiroAno {
    color: var(--azulzinho);
}
.segundoAno  {
    color: var(--azulclaro);
}
.terceiroAno {
    color: var(--azulescuro);
}