*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --azulescuro: #0B3D80;
    --azulclaro: #4285F3;
    --laranja: #F68F06;
    --laranjaclaro: #FFF1D6;
    --branco: #fff;
}


body {
    background-color: rgb(245, 245, 245);
}

#containerGlobal {
    max-width: 1440px;
    background-color: var(--azulescuro);
}

header {
    background-color: var(--laranja);
    max-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    margin-bottom: 2.75rem;
}

#navegacao nav {
    background-color: var(--laranjaclaro);
    padding: 8px 45px;
    border-radius: 25px;
}

#navegacao a {
    font-size: 16px;
    text-decoration: none;
    margin-inline: 1.2rem;
    text-transform: uppercase;
}

#icons {
    display: flex;
    align-items: center;
}

#boasVindas {
    max-width: 1300px;
}

#boasVindas #aa {
    border: 1.7px solid rgb(255, 0, 0);
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#boasVindasTexto {
    align-self: flex-start;
    margin-top: 3.5rem;
    border: 1px solid blue;
}

#boasVindasTexto h1 {
    font-size: 46px;
    color: var(--branco);
    max-width: 300px;
}

#b {
    color: var(--azulclaro);
}

#l {
    color: var(--laranja);
}

#boasVindasTexto p {
    color: var(--branco);
    font-size: 17px;
    text-align: start;
    max-width: 300px;
}

#boasVindasTexto button {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--laranja);
}

#boasVindasTexto a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}