*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --azulescuro: #0B3D80;
    --azulclaro: #4285F3;
    --azulzinho: #79BFFF;
    --laranja: #F68F06;
    --laranjaclaro: #FFF1D6;
    --laranjaclaro: #FFF1D6;
    --branco: #fff;
}


body {
    background-color: rgb(245, 245, 245);
    /* colocar azulquase escuro no body, testar noi pc da sala do wesley, para ver tamanho do todo */
}

#containerGlobal {
    max-width: 1440px;
}

header {
    background-color: var(--laranja);
    max-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    position: fixed;
    top: 0;
    width: 1440px;
}

#navegacao nav {
    background-color: var(--laranjaclaro);
    padding: 8px 45px;
    border-radius: 25px;
}

#navegacao a {
    font-size: 16px;
    text-decoration: none;
    margin-inline: 1.2rem;
    text-transform: uppercase;
}

#icons {
    display: flex;
    align-items: center;
}

main {
    margin-top: 5.375rem;
}

#boasVindas {
    max-width: 1440px;
    background-color: var(--azulescuro);
}

#containerBoas {
    display: flex;
    justify-content: end;
    align-items: start;
    max-width: 1320px;
    margin-inline:auto;
    height: 89vh;
}

#textoBoas {
    margin-right: 5.5rem;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
}

#textoBoas h1 {
    font-size: 37px;
    color: var(--branco);
    margin-bottom: 2.8rem;
    /* line-height: px; */
}

#textoBoas p {
    font-size: 17px;
    color: var(--branco);
    letter-spacing: 1.23px;
    line-height: 22px;
}

#containerBoas #span1 {
    color: var(--azulclaro);
}

#containerBoas #span2 {
    color: var(--laranja);
}

#containerBoas img {
    margin-right: 1.6rem;
    width: 540px;
}

#textoBoas a {
    align-self: center;
}

#textoBoas button {
    width: 243px;
    border: none;
    height: 61px;
    font-size: 18px;
    background-color: var(--laranja);
    color: var(--branco);
    margin-top: 3.8rem;
    border-radius: 8px;
}

#sobreConteudo {
    background-color: var(--laranjaclaro);
}


#divCont {
    display: flex;
}

#textoCont {
    margin-left: 4.5rem;
    margin-top: 4.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#textoCont h2 {
    font-size: 63px;
    color: var(--azulzinho);
    margin-bottom: 2.8rem;
    /* line-height: px; */
}

#textoCont p {
    font-size: 17px;
    color: var(--azulescuro);
    letter-spacing: 1px;
    max-width: 490px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}

#divCont img {
    margin-top: 6.6rem;
    margin-right: 2rem;
    margin-left: 6.6rem;
    width: 507px;
}