*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --azulescuro: #0B3D80;
    --azulclaro: #4285F3;
    --azulzinho: #79BFFF;
    --laranja: #F68F06;
    --laranjaclaro: #FFF1D6;
    --laranjaclaro2: #FFD67C;
    --branco: #fff;
}

@font-face {
    font-family: Hanken Grotesk; /* Nome que você usará para aplicar a fonte */
    src: url('./fontes/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf'); /* Caminho e formato da fonte principal */
}

@font-face {
    font-family: Baron Neue;
    src: url('./fontes/baron_neue/Baron\ Neue\ Black.otf');
}

@font-face {
    font-family: Circe;
    src: url('./fontes/circe-cufonfonts/CRC55.otf');
}

@font-face {
    font-family: Lemon Milk;
    src: url('./fontes/lemon_milk/LEMONMILK-Medium.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(245, 245, 245);
    /* colocar azulquase escuro no body, testar no pc da sala do wesley, para ver tamanho do todo */
}

#containerGlobal {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: var(--laranja);
    max-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    position: fixed;
    top: 0;
    width: 1440px;
}

#navegacao nav {
    background-color: var(--laranjaclaro);
    padding: 8px 45px;
    border-radius: 25px;
}

#navegacao a {
    font-size: 16px;
    text-decoration: none;
    margin-inline: 1.2rem;
    color: var(--azulescuro);
    font-family: 'Baron Neue';
}

#icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#navegacao nav > a:hover{
    color: var(--laranja);
    transition: 0.5s;
}

main {
    margin-top: 5.375rem;
}

button:hover {
    cursor: pointer;
}

#boasVindas {
    max-width: 1440px;
    background-color: var(--azulescuro);
}

#containerBoas {
    display: flex;
    justify-content: end;
    align-items: start;
    max-width: 1320px;
    margin-inline:auto;
    height: 89vh;
}

#textoBoas {
    margin-right: 5.5rem;
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
}

#textoBoas h1 {
    color: var(--branco);
    margin-bottom: 2.8rem;
    font-family: 'Hanken Grotesk';
    font-size: 37px;
}

#textoBoas p {
    font-size: 18px;
    color: var(--branco);
    letter-spacing: 1.23px;
    line-height: 23px;
    font-family: 'Circe';
    max-width: 520px;
}

#containerBoas #span1 {
    color: var(--azulclaro);
}

#containerBoas #span2 {
    color: var(--laranja);
}

#containerBoas img {
    margin-right: 1.6rem;
    width: 540px;
    margin-top: 1rem;
}

#textoBoas a {
    align-self: center;
}

#textoBoas button {
    width: 280px;
    border: none;
    height: 62px;
    font-size: 18px;
    background-color: var(--laranja);
    color: var(--branco);
    margin-top: 3.8rem;
    border-radius: 8px;
    font-family: 'Baron Neue';
}

#sobreConteudo {
    background-color: var(--laranjaclaro);
    padding-bottom: 40px;
}

#divCont {
    display: flex;
}

#textoCont {
    margin-left: 4.5rem;
    margin-top: 4.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#textoCont h2 {
    font-size: 65px;
    color: var(--azulzinho);
    margin-bottom: 2.9rem;
    font-family: 'Hanken Grotesk';
}

#textoCont p {
    font-size: 18px;
    color: var(--azulescuro);
    letter-spacing: 1px;
    max-width: 490px;
    line-height: 23px;
    font-weight: 600;
    text-align: center;
    font-family: 'Circe';
}

#divCont img {
    margin-top: 7.7rem;
    margin-right: 2rem;
    margin-left: 7rem;
    width: 507px;
}

#textoCont div {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    flex-wrap: wrap;
    width: 356px;
}

#textoCont button {
    width: 154px;
    height: 50px;
    margin-bottom: 0.6rem;
    border: none;
    border-radius: 8px;
    background-color: var(--azulzinho);
}

#textoCont button p {
    font-size: 26px;
    color: var(--laranjaclaro);
    font-family: 'Baron Neue';
}

#containerBoas button:hover{
    transition: 300ms;
    color: var(--azulescuro);
    background: var(--laranjaclaro2);
}

#aTv {
    background-color: var(--azulescuro);
}

#aTvDiv {
    max-width: 1330px;
    margin: 0 auto;
    padding-top: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aTvDiv h2 {
    font-size: 65.3px;
    color: var(--laranja);
    font-family: 'Hanken Grotesk';
}

#aTvDiv2 {
    display: flex;
    gap: 6.2rem;
    margin-top: 4.5rem;
}

#aTvbutton {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    padding-top: 1.7rem;
}

#textoCont button:hover{
    transition: 300ms;
    color: white;
    background: var(--azulclaro);
}
#aTvbutton button:hover,
#textButton button:hover,
#textosQuiz button:hover{
    transition: 300ms;
    color: #004AAD;
    background: #FFC546;
}

#falediv2 button:hover{
    transition: 300ms;
    color: var(--azulescuro);
    background: var(--laranjaclaro2);
}

#aTvbutton button {
    width: 178px;
    border: none;
    height: 56px;
    font-size: 26px;
    background-color: var(--laranja);
    color: var(--azulescuro);
    border-radius: 8px;
    font-family: 'Baron Neue';
}

#aTvcontent img {
    margin-left: 6.6rem;
}

#aTvcontent p {
    font-size: 19px;
    color: var(--branco);
    letter-spacing: 1px;
    max-width: 490px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    font-family: 'Circe';
}

#materialHome {
    background-color: var(--azulclaro);
}

#materialHomeDivGeral {
    max-width: 1330;
    margin: 0 auto;
    padding-top: 4.2rem;
}

#materialHomeDiv2 {
    display: flex;
    margin-top: 4.5rem;
}

#materialHomeDivGeral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#materialHomeDivGeral h2 {
    font-size: 65.3px;
    color: var(--azulescuro);
    font-family: 'Hanken Grotesk';
}

#textButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.6rem;
    margin-right: 5.8rem;
    margin-left: 2rem;
}

#textButton p {
    color: var(--branco);
    font-size: 20.3px;
    letter-spacing: 1px;
    max-width: 358px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    font-family: 'Circe';
}

#textButton button {
    width: 230px;
    border: none;
    height: 65px;
    background-color: var(--laranja);
    border-radius: 8px;
}

#textButton button p {
    font-size: 26px;
    color: var(--azulescuro);
    font-family: 'Baron Neue';
}

#imgLivros {
    margin-bottom: 7.7rem;
}

#sobreQuiz {
    background-color: var(--azulescuro);
}

#sobreQuiz1 {
    max-width: 1250px; 
    padding-top: 4.2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divQuiz {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    gap: 4rem;
}

#sobreQuiz h2 {
    font-size: 62px;
    color: var(--laranja);
    font-family: 'Hanken Grotesk';
}

#textosQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.2rem;
}

#textosQuiz p {
    color: var(--branco);
    font-size: 19px;
    letter-spacing: 1px;
    max-width: 388px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    font-family: 'Circe';
    align-self: flex-start;
}

#textosQuiz button {
    width: 220px;
    border: none;
    height: 65px;
    background-color: var(--laranja);
    border-radius: 8px;
    font-size: 26px;
    color: var(--azulescuro);
    font-family: 'Baron Neue';
    margin-top: 4.5rem;
}

#quemsomos {
    background-color: var(--laranjaclaro);
}

#qmdiv {
    max-width: 1390px;
    margin: 0 auto;
    padding-top: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

#qmdiv h2 {
    font-size: 62px;
    color: var(--laranja);
    font-family: 'Hanken Grotesk';
}

#fotos {
    display: flex;
}

#fotos div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotos div p {
    font-size: 26px;
    font-family: 'Lemon Milk';
    color: var(--azulescuro);
}

#textosqmsomos {
    display: flex;
    gap: 6rem;
}

#textosqmsomos p {
    color: var(--azulclaro);
    font-size: 20px;
    text-align: center;
    font-family: 'Circe';
    letter-spacing: 1px;
    margin-top: 1rem;
}

#detalhesqmsomos {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
}

#redessociais p {
    margin-right: 0.2rem;
    font-family: 'Baron Neue';
    color: var(--laranja);
    font-size: 17px;
    letter-spacing: 1px;
}

#redessociais {
    display: flex;
    margin-right: 3rem;
    align-items: center;
    gap: 0.1rem;
}

#faleconosco {
    background-color: var(--azulescuro);
    height: 85vh;
}

#falediv {
    max-width: 1380px;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#faleconoscoQuadro,
#inputs {
    display: flex;
    flex-direction: column;
}

#faleconoscoQuadro {
    background-color: var(--laranjaclaro2);
    border-radius: 15px;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.3rem;
}

#faleconoscoQuadro h2 {
    font-size: 46px;
    color: var(--azulescuro);
    font-family: 'Hanken Grotesk';
    margin-bottom: 0.8rem;
    margin-top: 0.7rem;
}

#falediv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#falediv2 button {
    margin-top: 20px;
    width: 255px;
    border: none;
    height: 55px;
    background-color: var(--laranjaclaro);
    border-radius: 8px;
    font-size: 26px;
    color: var(--azulescuro);
    font-family: 'Baron Neue';
}

#inputs form {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

#inputs input {
    width: 400px;
    font-size: 17px;
    padding: 6px 9px;
    border: none;
    border-radius: 10px;
    font-family: 'Circe';
}

#inputs textarea {
    width: 400px;
    max-width: 400px;
    max-height: 186px;
    height: 186px;
    padding: 5px;
    border: none;
    font-size: 17px;
    padding: 9px;
    font-family: 'Circe';
    border-radius: 10px;
}