*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --azulescuro: #0B3D80;
    --azulclaro: #4285F3;
    --azulzinho: #79BFFF;
    --laranja: #F68F06;
    --laranjaclaro: #FFF1D6;
    --laranjaclaro: #FFF1D6;
    --branco: #fff;
}

@font-face {
    font-family: Hanken Grotesk; /* Nome que você usará para aplicar a fonte */
    src: url('../fontes/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf'); /* Caminho e formato da fonte principal */
}

@font-face {
    font-family: Baron Neue;
    src: url('../fontes/baron_neue/Baron\ Neue\ Black.otf');
}

@font-face {
    font-family: Circe;
    src: url('../fontes/circe-cufonfonts/CRC55.otf');
}

header {
    background-color: var(--laranja);
    max-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    position: fixed;
    top: 0;
    width: 1440px;
}

#navegacao nav {
    background-color: var(--laranjaclaro);
    padding: 8px 45px;
    border-radius: 25px;
}

#navegacao a {
    font-size: 16px;
    text-decoration: none;
    margin-inline: 1.2rem;
    color: var(--azulescuro);
    font-family: 'Baron Neue';
}

#icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#navegacao nav > a:hover{
    color: var(--laranja);
    transition: 0.5s;
}

/* Configurações globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF2CC;
    margin: 0;
    padding: 0;
}


main {
    margin: 20px;
}

h1 {
    color: #004586;
    text-align: center;
}

h2 {
    color: #003366;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    color: #003366;
}

hr {
    border: 1px solid #003366;
    margin: 20px 0;
}

#intro, #resolucao, #grafico {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#intro img, #resolucao img, #grafico img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
 
}

#apoio {
    background-color: #FFE599;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    align-items: center;
}

#apoio h3 {
    color: #004586;
}

#apoio a {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #F9B233;
    color: #004586;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
}

#apoio p {
    margin-bottom: 10px;
}

main a {
    display: block;
    text-align: center;
    padding: 15px 0;
    margin: 10px 0;
    background-color: #F9B233;
    color: #004586;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

main a:hover {
    background-color: #E08E21;
}

#containerGlobal {
    max-width: 70%;
    margin: 0 auto;
}
